@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif KR', serif;
  text-align: center;
  background-color: #4FF6B0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

button {
  font-family: 'Noto Serif KR', serif;
  margin-top: 40px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: ;
}

li {
  padding-right: 20px;
}

li:last-child {
  padding: 0;
}

.coin-image {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}


@media screen and (max-width: 375px) {
  h1 {
    font-size: 30px;
  }

  .intro-text {
    font-size: 20px;
  }

  .Contents{
    width: 80%;
    margin: 0 auto;
  }

  .start-btn {
    font-size: 18px;
  }

  .coin-image {
    width: 148px;
    bottom: 20px;
    right: 20px;
  }
} 
